//==
//== Init styles
//== ======================================= ==//

html {
  @include establish-baseline();
  width: 100%;
  height: 100%;
}

body {
  font-family: $family-default;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000 url("/design/img/background.webp") no-repeat center top;
}

.container {
  @include make-container();
  @include make-container-max-widths();
}

.row {
  @include make-row();
}
