//==
//== Main config
//== ======================================= ==//

$family-default: 'Open Sans', sans-serif;
$family-black: 'Rubik Mono One', sans-serif;
$family-black: 'Arial Black', sans-serif;
$family-thin: 'Ubuntu', sans-serif;
$family-serif: 'Old Standard TT', serif;

$header-logo-height: 100px;
$header-v-padding: 10px;

$brand-color: #fbf306;
